/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* Header */
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #292929;
	color: #fff;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	transition: all 0.3s ease;
}

nav a:hover {
	color: #f1c40f;
}

/* Buttons */
.login-btn, .register-btn {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.3s ease;
	cursor: pointer;
}

.login-btn {
	background-color: #3498db;
}

.register-btn {
	background-color: #f1c40f;
}

.login-btn:hover, .register-btn:hover {
	transform: translateY(-3px);
}

/* Main */
.intro-container {
	text-align: center;
	padding: 80px 20px;
	background-color: #292929;
	;
}

.intro-container h2 {
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 20px;
}

.intro-container p {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.image-container img {
	max-width: 100%;
	height: auto;
}

/* Footer */
.footer-container {
	background-color: #292929;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.footer-container p {
	font-size: 16px;
	font-weight: 400;
}
