body {
    background-image: linear-gradient(lightgrey, lightblue);
  }

  h1 {
    color: black;
    text-align: center;

    
  }
  h3 {
    color: black;
    margin-left: .5cm;

  }  
  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: .5cm;

  }
  p {
    color: black;
    text-align: left;
  }
footer {
  font-size: x-large;
  text-align: center;
  color: black;
}
li {
  color: black;
  font-size: large;
}
a {
  color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h5 {
  font-size: x-large;
}
.bottom {
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: .5cm;
}

* {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
  color: black;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: lightcyan;
  font-size: 18px;
  transition: 0.2s;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li:nth-child(odd) {
  background: lightcyan;
}


ul li:hover {
  background: lightskyblue;
}



.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: black;
}


.header {
  background-color: light salmon;
  padding: 30px 40px;
  color: black;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
.program {
  color: black;
}
